{% extends 'CoreApp/Base/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static './CoreApp/css/mainSection.css' %}">
{% endblock style %}

{% block title %}
    Polityka prywatności
{% endblock title %}

{% block content %}
    <section class="py-4">
        <div class="container">
            <div id="section-title">Polityka prywatności</div>
            <div id="underline"></div>
            <div class="">
                Właściciel serwisu internetowego SłodkieCiastki dba o prywatność użytkowników i klientów odwiedzających naszą stronę internetową. Niniejsza polityka prywatności określa zasady przetwarzania i ochrony danych osobowych, zbieranych przez nas podczas korzystania ze strony internetowej.

                Definicje
                <ul>
                    <li>Administrator - właściciel serwisu internetowego, który przetwarza dane osobowe w celach związanych z prowadzeniem działalności.</li>
                    <li>Użytkownik/Klient - osoba fizyczna, odwiedzająca stronę internetową Administratora.</li>
                    <li>RODO - Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych.</li>
                    <li>Dane osobowe - wszelkie informacje dotyczące osoby fizycznej, która może być zidentyfikowana lub zidentyfikowalna dzięki tym informacjom.</li>
                </ul>

                Administrator zbiera i przetwarza dane osobowe Użytkowników/Klientów w celach związanych z prowadzeniem działalności, w szczególności w celu:
                <ul>
                    <li>umożliwienia korzystania ze strony internetowej</li>
                    <li>świadczenia usług oferowanych na stronie internetowej</li>
                    <li>realizacji zamówień dokonywanych przez Użytkowników/Klientów</li>
                    <li>marketingowych oraz statystycznych</li>
                    <li>udzielania odpowiedzi na zapytania i kontaktowanie się z Użytkownikami/Klientami</li>
                </ul>
                Rodzaje danych przetwarzanych
                Administrator przetwarza następujące dane osobowe Użytkowników/Klientów:
                a) dane podane dobrowolnie przez Użytkownika/Klienta w formularzach kontaktowych, zamówień, subskrypcji newslettera itp.,
                b) dane zbierane automatycznie podczas korzystania ze strony internetowej, w tym informacje o przeglądarce internetowej, adresie IP, typie urządzenia, czasie korzystania ze strony, itp.

                Podstawa prawna przetwarzania danych osobowych
                Przetwarzanie danych osobowych przez Administratora odbywa się na podstawie:
                a) zgody Użytkownika/Klienta,
                b) konieczności przetwarzania danych w celu wykonania umowy lub podjęcia działań na żądanie Użytkownika/Klienta przed zawarciem umowy,
                c) prawnie uzasadnionych interesów Administratora.

                Okres przetwarzania danych osobowych
                Dane osobowe Użytkowników/Klientów będą przetwarzane przez Administratora przez okres niezbędny do realizacji celów, dla których zostały zebrane lub do momentu wycofania zgody na ich przetwarzanie przez Użytkownika/Klienta. Okres ten może być również uzależniony od przepisów prawa, w szczególności w zakresie prowadzenia księgowości i rachunkowości oraz ochrony przed roszczeniami.

                Odbiorcy danych osobowych
                Dane osobowe Użytkowników/Klientów nie będą udostępniane innym podmiotom poza Administratorami oraz podmiotami, z którymi Administrator zawarł umowy powierzenia przetwarzania danych osobowych.

                Prawa Użytkowników/Klientów
                Użytkownicy/Klienci mają prawo do:
                a) dostępu do swoich danych osobowych i otrzymania ich kopii,
                b) sprostowania swoich danych osobowych,
                c) usunięcia swoich danych osobowych,
                d) ograniczenia przetwarzania swoich danych osobowych,
                e) wniesienia sprzeciwu wobec przetwarzania swoich danych osobowych,
                f) przenoszenia swoich danych osobowych,
                g) cofnięcia zgody na przetwarzanie swoich danych osobowych.

                Aby skorzystać z powyższych praw, należy skontaktować się z Administratorem za pomocą danych kontaktowych podanych na stronie internetowej.

                Bezpieczeństwo danych osobowych
                Administrator dba o bezpieczeństwo przetwarzanych danych osobowych i podejmuje odpowiednie techniczne i organizacyjne środki zapewniające ochronę danych przed nieuprawnionym dostępem, utratą, zniszczeniem czy uszkodzeniem. 

                Zmiany polityki prywatności
                Niniejsza polityka prywatności może ulec zmianie w związku z rozwijaniem się technologii i zmianami przepisów prawnych. Wszelkie zmiany będą publikowane na stronie internetowej i wchodzą w życie od daty ich opublikowania.

                Podsumowanie
                Niniejsza polityka prywatności określa zasady przetwarzania i ochrony danych osobowych Użytkowników/Klientów, zbieranych przez Administratora podczas korzystania ze strony internetowej. Administrator przetwarza dane osobowe w celach związanych z prowadzeniem działalności, zgodnie z przepisami prawa oraz dba o bezpieczeństwo danych osobowych. Użytkownicy/Klienci mają prawo do dostępu, sprostowania, usunięcia, ograniczenia przetwarzania, wniesienia sprzeciwu, przenoszenia oraz cofnięcia zgody na przetwarzanie swoich danych osobowych.
            </div>
        </div>
    </section>
{% endblock content %}